.btn {
    padding: 0px 10px;
    margin: 0 2px;
    border: none;
    color: white;
    
    white-space: nowrap;

    &.diagnosa {
        color: white;
        background: $green;
        border: 2px solid $green;

        &:hover {
            background: white;
            color: $green;
        }
    }
    &.diagnosa-outline {
        background: white;
        border: 2px solid $green;
        color: $green;

        &:hover {
            color: white;
            background: $green;
        }
    }
    &.batal {
        color: white;
        background: $red;

        &:hover {
            background: white;
            border: 1px solid $red;
            color: $red;
        }
    }
    &.secondary {
        color: white;
        background: $grey5;

        &:hover {
            background: white;
            border: 1px solid $grey5;
            color: $grey5;
        }
    }
    &.green-long {
        background: $green;
        width: 100%;
        height: 50px;
        font-size: 14px;
        color: white;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        &:hover {
            background: white;
            border: 1px solid $green;
            color: $green;
        }
    }
}

.capsule-btn {
    background: $grey4;
    color: #5d5d5d;
    padding: 8px 16px;
    
    border: 2px solid $outlinegrey;
    
    &.active {
        color: white;
        background: $green;
    }
    &.active:hover {
        color: #5d5d5d;
    }
    &.secondary {
        color: white;
        background: $grey3;
    }

    &.capsule-single {
        border-radius: 24px;
    }

    &.capsule-left{
        border-radius: 24px 0px 0px 24px;
    }
    &.capsule-middle{
        border-right: none;
        border-left: none;
    }
    &.capsule-right{
        border-radius: 0 24px 24px 0;
    }
    &:hover {
        color: white;
    }
}

.capsule-btn2 {
    background: #EEF2ED;
    border: 4px solid #E5E5E5;
    color: white;
    padding: 8px 16px;
    text-align: center;
    width: 140px;
}

.submit-btn {
    width: 100%;
    height: 50px;
}

.btn-tambah {
    border: 2px solid $outlinegrey;
    color: $darkgreen;
    width: 100%;
    height: 50px;
    font-weight: bold;

    &:hover {
        background: $green;
        color: white;
    }
}

.collapsible {
    position: relative;
    overflow: hidden;

    .collapsible-head.inactive {
        ~ .collapsible-body {
            transform: translateY(-99999px);
            position: absolute;
        }
        p svg {
            transform: rotate(-90deg);
            transition: ease 0.2s;
        }
    }

    .collapsible-head:hover {
        background: $greenishgrey;
    }
}

.file-area {
    width: 100%;
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;

    border: 2px dashed $outlinegrey;
    border-radius: 4px;

    label {
        color: $black !important;
        font-size: inherit !important;
        margin: 0 auto !important;

        width: 100%;
    }

    input[type=file] {
        margin: 10px 0;
        cursor: pointer;
        opacity: 1;
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid $outlinegrey;

    }
}
