.btn {
    padding: 0px 10px;
    margin: 0 2px;
    border: none;
    color: white;
    
    white-space: nowrap;

    &.diagnosa {
        color: white;
        background: $green;
    }
    &.batal {
        color: white;
        background: $red;
    }
    &.secondary {
        color: white;
        background: $grey5;
    }
    &.green-long {
        background: $green;
        width: 100%;
        height: 50px;
        font-size: 14px;
        color: white;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        &:hover {
            background: $black;
            color: white;
        }
    }
}

.capsule-btn {
    background: $grey4;
    color: white;
    padding: 8px 16px;
    
    border: 4px solid $outlinegrey;
    
    &.active {
        background: $green;
    }
    &.secondary {
        background: $grey3;
    }

    &.capsule-single {
        border-radius: 24px;
    }

    &.capsule-left{
        border-radius: 24px 0px 0px 24px;
    }
    &.capsule-middle{
        border-right: none;
        border-left: none;
    }
    &.capsule-right{
        border-radius: 0 24px 24px 0;
    }
}

.capsule-btn2 {
    background: #EEF2ED;
    border: 4px solid #E5E5E5;
    color: white;
    padding: 8px 16px;
    text-align: center;
    width: 140px;
}

.submit-btn {
    width: 100%;
    height: 50px;
}

.btn-tambah {
    border: 2px solid $outlinegrey;
    color: $darkgreen;
    width: 100%;
    height: 50px;
    font-weight: bold;
}
.btn-tambah:hover {
    background: $green;
    color: white;
}

.collapsible {
    position: relative;
    overflow: hidden;

    .collapsible-head.inactive ~ .collapsible-body {
        transform: translateY(-99999px);
        position: absolute;
    }

    .collapsible-head:hover {
        background: $greenishgrey;
    }
}