
// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$red: #EB5757;
$orange: #F2994A;
$yellow: #F2C94C;
$lime: #9AD042;
$green: #009241;
$darkgreen: #00451F;
$blue: #2D9CDB;
$grey: #D8D8D8;
$grey2: #C7D3CC;
$grey3: #AEAEAE;
$grey4: #EEF2ED;
$grey5: #BDBDBD;
$greenishgrey: #F7FAF8;
$outlinegrey: #E5E5E5;
$black: #505050;
